@import '../../scss/variables';
@import 'scss/fonts.scss';

.icon-medium {
  width: 60px;
  height: 60px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 1.25rem;
    margin: 0;
  }
}
