.btn {
  span {
    margin-left: 10px;
  }
}

.btn-preview {
  // padding: 0;
  margin-left: 10px;
  background: #ecf3fb;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .btn-preview__label {
    position: relative;
    top: 1px;
  }

  svg {
    width: 28px;
    height: 28px;
  }

  .icon-playing {
    display: none;
  }

  &.is-playing {
    .icon-playing {
      display: inline-block;
    }
    .icon-stopped {
      display: none;
    }
  }

  &.is-paused,
  &.is-stopped {
    .icon-playing {
      display: none;
    }
    .icon-stopped {
      display: inline-block;
    }
  }

}
.btn-lg {
  font-size: 1.1rem;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  border-width: 2px;
  height: 52px;
}

.btn-outline-primary {
  color: #0077FF;
  border-color: #0077FF;

  &:hover {
    border-color: #0077FF;
  }
}

.btn-down {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 250ms all;
  opacity: 1;
  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    position: fixed;
  bottom: 18%;
  left: 0;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.is-hidden {
    opacity: 0;
  }

  @include media-breakpoint-up(lg) {
    bottom: 6rem;
    width: 50%;
  }

  svg {
    width: 40px;
    height: 40px;

    @include media-breakpoint-up(lg) {
      width: 60px;
      height: 60px;

    }
  }
}
