.btn-lg {
  font-size: 1.1rem;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  border-width: 2px;
}

.btn-outline-primary {
  color: #0077FF;
  border-color: #0077FF;

  &:hover {
    border-color: #0077FF;
  }
}
