.downloads {
  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  .downloads__link {
    display: block;
  }

  .downloads__icon {
    width: 160px;
    margin-left: 2px;
    margin-right: 2px;

    @include media-breakpoint-up(lg) {
      width: 145px;
      margin-right: 14px;
      margin-right: 5px;
    }
  }
}
