.footer {
  text-align: center;
  // padding-bottom: 2rem;
  // padding-top: 2rem;
  padding: 2rem;
  // background-color: #0077FF;

  @include media-breakpoint-up(lg) {
    padding-bottom: 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 50%;
    right: 0;
  }

  .display-3 {
    // color: #ffffff;
    margin-bottom: 2rem;
  }

  .footer__links {

    .footer__links-item {
      color: #000;
      opacity: 0.5;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 85%;

      @include media-breakpoint-up(lg) {
        color: #fff;
      }

    }
  }

  .footer__downloads {
    text-align: center;
    margin-bottom: 5rem;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
