.logo {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 3rem;
  }

  svg {
    display: inline-block;
    width: 140px;

    @include media-breakpoint-up(lg) {
      width: 190px;
    }
  }
}
