.logo {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 3rem;
    justify-content: flex-start;
  }

  svg {
    display: inline-block;
    width: 140px;
    height: 100%;

    @include media-breakpoint-up(lg) {
      width: 190px;
    }
  }
}
