.logo {
  // width: 65px;
  margin-bottom: 1rem;
  display: flex;
  // align-items: center;
  justify-content: center;

  @include media-breakpoint-up(lg) {

  }

  svg {
    display: inline-block;
    width: 100%;
    width: 65px;
  }
}
