.display-1 {
    font-size: 2.6rem; // 42px
    font-weight: 600;
    color: #15243D;
    margin-bottom: 1.7rem;
}

p {
    color: #818896;
}

.lead {
    color: #818896;
}

h2, .h2 {
  font-size: 1.3rem;
  color: #15243D;
  font-weight: 600;
}
