@import "~bootstrap/scss/bootstrap";
@import "./typography";
@import "./content-block";
@import "./demo";
@import "./feature";
@import "./col";
@import "./footer";
@import "./row";
@import "./container-fluid";
@import "./features";
@import "./intro";
@import "./downloads";
@import "./logo";
@import "./btn";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Inter UI', sans-serif;
    // text-align: center;
    // font-weight: lighter;
    color: #818896;
}

a {
    color: inherit;
}
