@import '../../scss/variables';

.appstorebadges {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }

  svg {
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
}

.appstorebadges__badge {
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
    margin-left: 0.5rem;
  }
}
