@import '../../scss/variables';

.footer {
  color: $white;
  background-color: $black;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.footer__bottom {
  border-top: 1px $gray-900 solid;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
}
